version: '3.8'

services:
  
  mongo:
    image: mongo:latest
    container_name: chat-db
    ports:
      - "27017:27017" 
    volumes:
      - mongo-data:/data/db 
    networks:
      - chat-net

 
  backend:
    build: ./backend 
    container_name: chat-backend
    ports:
      - "5000:5000" 
    environment:
      - MONGO_URI=mongodb://mongo:27017/chatdb
    depends_on:
      - mongo 
    volumes:
      - ./backend:/app
      - /app/node_modules
    networks:
      - chat-net

  
  frontend:
    build: ./frontend
    container_name: chat-frontend
    ports:
      - "3000:3000" 
    environment:
      - REACT_APP_API_URL=http://localhost:5000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - chat-net

volumes:
  mongo-data:

networks:
  chat-net:
    driver: bridge 